@model DongHo.Models.GroupMember
@{
    ViewBag.Title = "GroupMemberCreate";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm mới nhóm nhân viên</h2>
@using (Html.BeginForm())
{
    <table class="TableUpdate" border="1">
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở về", "GroupMemberIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>Tên nhóm</th>
            <td>@Html.TextBox("Name")</td>
        </tr>
        <tr>
            <th>Kích hoạt</th>
            <td>@Html.CheckBox("Actives")</td>
        </tr>
        <tr>
            <td class="Control" colspan="2">
                <ul>
                    @if (Request.Cookies["Username"] == null)
                    {
                        <li><p class="uupdate" onclick="AlertErr()">Ghi lại</p></li>  
                    }
                    else
                    {
                        <li><input type="submit" value="Ghi lại "class="uupdate" /></li>
                      
                    }
                    <li>@Html.ActionLink("Trở về", "GroupMemberIndex","", new { @class="uback"})</li>
                </ul>
            </td>
        </tr>
    </table>
}