<div class="colFunc">
    <ul>
        <li>Quản lí tài khoản</li>
        @Html.Raw(ViewBag.View)
        @*<li class="current"><a href="/Pages/member">Thông tin tài khoản chung</a></li>
        <li><a href="/Pages/edit_info">Chỉnh sửa thông tin</a></li>
        <li><a href="/Pages/doi_mat_khau">Đổi mật khẩu</a></li>
        <li><a href="/Pages/quan_ly_don_hang">Quản lý đơn hàng</a></li>*@
    </ul>
</div>