@*@Html.Raw(ViewBag.View)*@
<div class="support">
    @Html.Raw(ViewBag.View)
    @*<ul>
        <li><a href="ymsgr:sendIM?0123456789"><img src="http://opi.yahoo.com/online?u=0987654321&amp;m=g&amp;t=1 border=0" /></a></li>
        <li><a href="ymsgr:sendIM?0123456789"><img src="http://opi.yahoo.com/online?u=0987654321&amp;m=g&amp;t=1 border=0" /></a></li>
        <li><a href="skype:tuanvdos?chat"><img src="HTTP://MYSTATUS.SKYPE.COM/smallclassic/tuanvdos" /></a></li>
        <li><a href="skype:tuanvdos?chat"><img src="HTTP://MYSTATUS.SKYPE.COM/smallclassic/tuanvdos" /></a></li>
        <li><p style="line-height:34px;">Hotline: <span>09876544321</span></p></li>
    </ul>*@
</div>